.amazon{
    
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.logo{
    margin-top:20px;
    height:100px;
    width:300px;
    background-image:url("amazonwhite.png");
    background-size:cover;
    text-align:center
}
.detail{
    margin-top:60px;
    text-align:center;

}
button{
     margin-top: 10px;
    padding: 8px 14px;
    background: #FFD814;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;

}
a{
    color:blue
}
footer{
    
    display:flex;;
    justify-content:center;
    margin-top:60px

}
.last{
    padding:5px;
}
